@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* nav ul {
  @apply flex items-center justify-center flex-col;
} */

nav ul li button {
  color: #fff;
  font-size: 16px;
}

nav {
  @apply flex justify-between flex-col opacity-0 absolute -z-50 lg:opacity-100 lg:relative lg:z-auto;

}

nav.open {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: hsl(231, 69%, 60%, 0.9);
  z-index: 999;
  padding: 32px;
  opacity: 1;
}

h1, h2, h3, h4 {
  @apply text-slate-800 font-bold
}

.btn-blue {
  background-color: hsl(231, 69%, 60%);
}

.btn-red {
  background-color: hsl(0, 94%, 66%);
}

.bg {
  position: absolute;
  /* right: -32px; */
  bottom: 0;
  height: 250px;
  width: 100%;
  border-radius: 200px 0 0 200px;
  background-color: hsl(231, 69%, 60%);
  z-index: -1;
  
}

.bg-left {
  position: absolute;
  left: -32px;
  bottom: -50px;
  height: 250px;
  width: 100%;
  border-radius:  0 200px 200px 0;
  background-color: hsl(231, 69%, 60%);
  z-index: -1;
}

p {
  @apply text-slate-600;
  line-height: 1.8;
}

@media (min-width:1024px) {
  * {
    font-size:18px
  }

  body {
    overflow-x: hidden;
  }

  .bg {
    right: -40%;
    width: 120%;
  }

  .bg, .bg-left {
    height: 300px;
  }

  .bg-left {
    left: -40%;
    width: 120%;
  }

  nav.open {
    background-color: transparent;
    position: relative;
    z-index: auto;
    padding: 0;
  }
}
